<a href="https://colab.research.google.com/github/SrKalikar/Data-Structure-Python/blob/main/Data_Structure_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Basics

In [ ]:
#Dictonary Operation's
Customer = {
    "name1":"shubham",
    "number1":54562,
    "address1":"Pune",
    
    "name":"Ritesh",
    "number":54651,
     "address":"Mumbai"
   
}

In [ ]:
Customer["number"]

54651

In [ ]:
numbers = {num: num ** 2 for num in range(12)}

In [ ]:
numbers

Newly introduced Collection library in python.

In [ ]:
import collections
example = collections.OrderedDict(number1 = 12, number2 = 24, number3 = 54)

In [ ]:
print(example["number3"])
print(example.keys())
print(example.values())
example

54
odict_keys(['number1', 'number2', 'number3'])
odict_values([12, 24, 54])

OrderedDict([('number1', 12), ('number2', 24), ('number3', 54)])

In [ ]:
example.pop("number1")

12

In [ ]:
example

OrderedDict([('number2', 24), ('number3', 54)])

In [ ]:
from collections import defaultdict
person_list = defaultdict(list)
person_list["person"].append("Shubham")
person_list["person"].append("Ram")
person_list["person"].append("Baburao")
person_list["person"].append("Raju")
person_list["person"].append("KachraSeth")

By using above function we can append items with an ease into list

In [ ]:
person_list["person"]

['Shubham', 'Ram', 'Baburao', 'Raju', 'KachraSeth']

In [ ]:
from collections import ChainMap
dict1 = {"firstname":"Raju","address":"Borivali","Owner":"Baburao"}
dict2 = {"name":"Shyam","address":"Borivali","Owner":"Baburao"}
adding_two = ChainMap(dict1,dict2)
adding_two

ChainMap({'firstname': 'Raju', 'address': 'Borivali', 'Owner': 'Baburao'}, {'name': 'Shyam', 'address': 'Borivali', 'Owner': 'Baburao'})

Read Only Dictionary Type

In [ ]:
from types import MappingProxyType
set1 = {"One":1,"Two":2}
conversion = MappingProxyType(set1)

conversion["One"] #it will give error when reply with key values.

1

In [ ]:
#now we will try to manipulate given dictionary
set1["One"] = 3542

In [ ]:
conversion["One"]

3542

In [ ]:
conversion

mappingproxy({'One': 3542, 'Two': 2})

list's are Dynamic arrays! and they are mutable!
Mutable = Liable to change

In [ ]:
names = ["Shubham","Nagesh","Prasad"]
print(names)
print(names[1]) #index numbers with square braces

['Shubham', 'Nagesh', 'Prasad']
Nagesh

Tuples are immutable.When use array.array. Array acts like mutable lists'

---

In [ ]:
num = bytes((1,2,3))
num[1]
print(num)
#bytes has their own unique form.

b'\x01\x02\x03'

In [ ]:
num_list = bytearray((11,12,13,14))
num_list

bytearray(b'\x0b\x0c\r\x0e')

In [ ]:
num_list.append(41)

In [ ]:
num_list

bytearray(b'\x0b\x0c\r\x0e)')

In [ ]:
import dis
dis.dis(compile("(23,'a','b','c')","","eval"))

  1           0 LOAD_CONST               0 ((23, 'a', 'b', 'c'))
              2 RETURN_VALUE

In [ ]:
#simple tuple description
brand_names = ("Ford","Maruti-Suzuki","Toyota")

In [ ]:
brand_names

('Ford', 'Maruti-Suzuki', 'Toyota')

Here will create a simple class to gain more control and feasibality over data.

In [ ]:
class Objects:
  def __init__(self,name,size,value):
    self.name=name
    self.size=size
    self.value=value

Objects("tABLE","Mediocre",225)
number_2=Objects("Lamp","Small",567)
number_2.size
number_2.size="Big"
print(number_2.size)

Big

By using a wrapper we can make our code more readable and efficient.

In [ ]:
from dataclasses import dataclass
@dataclass
class computer:
      name:str
      size:str
      value:int
first=computer("Acer","Regular",32000)
first.size

'Regular'

getsizeof is a IMPORTANT function.

In [ ]:
from collections import namedtuple
from sys import getsizeof

n1 = namedtuple("Shubham","kaar")(1)
n2 = (1,2,3,4)

print(getsizeof(n1))
print(getsizeof(n2))

64
88

Let's create an immutable class of data structure.

In [ ]:
from typing import NamedTuple
from dataclasses import dataclass
@dataclass
class fighter(NamedTuple):
  name:str
  year:int
  fighter:bool
fighter("Kante",1970,True) #idk why it  has occured!

Encryption using struct method to optimize data furthur so more space would be utilized.

In [ ]:
from struct import Struct

s1 = Struct("i?f")
data = s1.pack(122,True,12.23) #data must be in given order. or else it would fetch an error.
data

b'z\x00\x00\x00\x01\x00\x00\x00\x14\xaeCA'

In [ ]:
s1.unpack(data) #unpacking method

(122, True, 12.229999542236328)

In [ ]:
from types import SimpleNamespace #shortly regarded as shortcut method.
data1 = SimpleNamespace(name="Shubham",age=23,year="BE")
data1

namespace(age=23, name='Shubham', year='BE')

In [ ]:
set1 = {"Shubham","Nagesh","Prasad"}
set1

{'Nagesh', 'Prasad', 'Shubham'}

There are some interresting stuff we can do with set. With set we can perform all mathematical operations in it just like we do in math.

In [ ]:
vowels = {"a","e","i","o","u"}
"i" in vowels

True

In [ ]:
word = set("shubham")
word.intersection(vowels)

{'a', 'u'}

frozenset is immutable.We can only run query operation's on them and not manipulating one.

In [ ]:
from collections import Counter
treasure = Counter()
things = {"gold":3,"silver":5}
treasure.update(things)
treasure

Counter({'gold': 3, 'silver': 5})

In [ ]:
more_things = {"gold":12,"silver":56}
treasure.update(more_things)
treasure
print(sum(treasure.values()))

212

STACK-LIFO
QUEUE-FIFO

In [ ]:
#DFS deapth first search algorithm is an intresting algorithm to study.
from collections import deque
list1 = deque()
list1.append("w")
list1.append("t")
list1.append("r")
list1.append("v")
list1.append("h")
list1

deque(['w', 't', 'r', 'v', 'h'])

Short program to conclude time and execution of given algorithm.

In [ ]:
import time
start_time = time.time()
from queue import PriorityQueue
n = PriorityQueue()
n.put((2,"Code"))
n.put((3,"Net"))
n.put((4,"Weather"))

while not n.empty():
  next_item = n.get()
  print(next_item)

print("This is time for execution",time.time()-start_time)

(2, 'Code')
(3, 'Net')
(4, 'Weather')
This is time for execution 0.0019192695617675781

In [ ]:
names = ["Shubham","Ramesh","Kalikar"]
names.reverse() #this function reverses the items in the list.Helps to make palindrome.
names

['Kalikar', 'Ramesh', 'Shubham']

In [ ]:
#here is sample simplest program to check any string a palindrome or not!
string = input("Write String/number\n")
string1 = string[:1]
if string == string1:
  print("It is palindrom")
else:
  print("It is not palindrome.")

Write String/number
121
It is not palindrome.

In [ ]:
list1 = [121]
list1[:1]

[121]